In [27]:
import pandas as pd
#Dataset
df = pd.read_table('../Datasets/smsspam/SMSSpamCollection',sep='\t',header=None,names=['label','sms_message'])
#output
df.head()

  label                                        sms_message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [28]:
#Solution
df['label'] = df.label.map({'ham':0,'spam':1})
print(df.shape)
df.head()

(5572, 2)

   label                                        sms_message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [29]:
import string
df['sms_message'] = df['sms_message'].str.lower()

In [30]:
def remove_punctuation(s):
    s = ''.join([i for i in s if i not in frozenset(string.punctuation)])
    return s

df['cleaned'] = df['sms_message'].apply(remove_punctuation)
df.head()

,label,sms_message,cleaned
0,0,"go until jurong point, crazy.. available only ...",go until jurong point crazy available only in ...
1,0,ok lar... joking wif u oni...,ok lar joking wif u oni
2,1,free entry in 2 a wkly comp to win fa cup fina...,free entry in 2 a wkly comp to win fa cup fina...
3,0,u dun say so early hor... u c already then say...,u dun say so early hor u c already then say
4,0,"nah i don't think he goes to usf, he lives aro...",nah i dont think he goes to usf he lives aroun...

In [32]:
df.head()
df = df.drop('sms_message', 1)
df.to_csv("cleanSMS", sep='\t', encoding='utf-8', header=False, index=False, index_label=False)